<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="MediaCenter, Template, eCommerce">
	<meta name="robots" content="all">
	<title>Login page</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="cr/css/bootstrap.min.css">

	<!-- Customizable CSS -->
	<link rel="stylesheet" href="cr/css/main.css">
	<link rel="stylesheet" href="cr/css/blue.css">
	<link rel="stylesheet" href="cr/css/owl.carousel.css">
	<link rel="stylesheet" href="cr/css/owl.transitions.css">
	<link rel="stylesheet" href="cr/css/animate.min.css">
	<link rel="stylesheet" href="cr/css/rateit.css">
	<link rel="stylesheet" href="cr/css/bootstrap-select.min.css">

	<!-- Icons/Glyphs -->
	<link rel="stylesheet" href="cr/css/font-awesome.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800"
		rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800'
		rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="cnt-home">
	<!-- ============================================== HEADER ============================================== -->


	<!-- ============================================== HEADER : END ============================================== -->
	<div class="breadcrumb">
		<div class="container">
			<div class="breadcrumb-inner">
				<ul class="list-inline list-unstyled">
					<li><a href="home.html">Home</a></li>
					<li class='active'>Login</li>
				</ul>
			</div><!-- /.breadcrumb-inner -->
		</div><!-- /.container -->
	</div><!-- /.breadcrumb -->

	<div class="body-content">
		<div class="container">
			<div class="sign-in-page">
				<div class="row">
					<!-- Sign-in -->
					<div class="col-md-6 col-sm-6 sign-in">
						<h4 class="">Sign in</h4>
						<p class="">Hello, Welcome to your account.</p>
						<div class="social-sign-in outer-top-xs">
							<a href="#" class="facebook-sign-in"><i class="fa fa-facebook"></i> Sign In with
								Facebook</a>
							<a href="#" class="twitter-sign-in"><i class="fa fa-twitter"></i> Sign In with Twitter</a>
						</div>
						<form class="register-form outer-top-xs" role="form">
							<div class="form-group">
								<label class="info-title" for="exampleInputEmail1">Email Address <span>*</span></label>
								<input type="email" class="form-control unicase-form-control text-input"
									id="exampleInputEmail1">
							</div>
							<div class="form-group">
								<label class="info-title" for="exampleInputPassword1">Password <span>*</span></label>
								<input type="password" class="form-control unicase-form-control text-input"
									id="exampleInputPassword1">
							</div>
							<div class="radio outer-xs">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios2"
										value="option2">Remember me!
								</label>
								<a href="#" class="forgot-password pull-right">Forgot your Password?</a>
							</div>
							<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Login</button>
						</form>
					</div>
					<!-- Sign-in -->

					<!-- create a new account -->
					<div class="col-md-6 col-sm-6 create-new-account">



					</div>
					<!-- create a new account -->
				</div><!-- /.row -->
			</div><!-- /.sigin-in-->
			<!-- ============================================== BRANDS CAROUSEL ============================================== -->
			<div id="brands-carousel" class="logo-slider wow fadeInUp">

				<div class="logo-slider-inner">
					<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
						<div class="item m-t-15">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand1.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item m-t-10">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand2.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand3.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand4.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand5.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand6.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand2.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand4.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand1.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
								<img data-echo="cr/images/brands/brand5.png" src="cr/images/blank.gif" alt="">
							</a>
						</div>
						<!--/.item-->
					</div><!-- /.owl-carousel #logo-slider -->
				</div><!-- /.logo-slider-inner -->

			</div><!-- /.logo-slider -->
			<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
		</div><!-- /.container -->
	</div><!-- /.body-content -->


	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="cr/js/jquery-1.11.1.min.js"></script>
	<script src="cr/js/bootstrap.min.js"></script>
	<script src="cr/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="cr/js/owl.carousel.min.js"></script>
	<script src="cr/js/echo.min.js"></script>
	<script src="cr/js/jquery.easing-1.3.min.js"></script>
	<script src="cr/js/bootstrap-slider.min.js"></script>
	<script src="cr/js/jquery.rateit.min.js"></script>
	<script type="text/javascript" src="cr/js/lightbox.min.js"></script>
	<script src="cr/js/bootstrap-select.min.js"></script>
	<script src="cr/js/wow.min.js"></script>
	<script src="cr/js/scripts.js"></script>
</body>

</html>